= form_for(current_user.image_post_likes.build, html: { style: "display: inline-block;" }, remote: true) do |f|
  .= hidden_field_tag :image_post_id, image_post.id
  = f.button type: "submit", class: "like-button" do
    i.far.fa-heart