//////////////// JUMBOTRON //////////////////
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
  h1 {
    font-weight: 300;
  }
  .container {
    max-width: 40rem;
  }
  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}


/////////////////// HEADER //////////////////////
.sitelogo {
  max-width: 175px;
  max-width: 175px;
  width: 100%;
  height: 100%;
}

/////////////////// FOOTER //////////////////////
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  p {
    margin-bottom: .25rem;
  }
}


//////////////////// TOP ////////////////////////
.top-image {
  background-image: url("motofren-60.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 650px;
}

.top-message {
  font-size: 4rem;
  font-weight: 500;
  font-family: -webkit-pictograph;
}

///////////////// SIGNUP MODAL //////////////////////
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}
.social-btn {
  border-radius: 5px;
  padding: 7px;
  transition: all 0.3s;
  &:hover {
    opacity: 0.9;
  }
}
.facebook {
  background-color: #3B5998;
  border-color: #3B5998;
  color: white;
}
.twitter {
  background-color: #1DA1F2;
  border-color: #1DA1F2;
  color: white;
}
.google {
  background-color: #DB4437;
  border-color: #DB4437;
  color: white;
}