/////////////////// HEADER //////////////////////
.sitelogo {
  max-width: 175px;
  max-width: 175px;
  width: 100%;
  height: 100%;
}

//////////////////// TOP ////////////////////////
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('motofren-back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

///////////////// SIGNUP,LOGIN MODAL //////////////////////
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  .checkbox {
    font-weight: 400;
  }
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
  }
  input[type="email"] {
    margin-bottom: -1px;
  }
  input[type="password"] {
    margin-bottom: 10px;
  }
}

.social-btn {
  border-radius: 5px;
  padding: 7px;
  transition: all 0.3s;
  font-size: x-large;
  color: white;
  &:hover {
    opacity: 0.9;
  }
}
.facebook {
  background-color: #3B5998;
  border-color: #3B5998;
}
.twitter {
  background-color: #1DA1F2;
  border-color: #1DA1F2;
}
.google {
  background-color: #DB4437;
  border-color: #DB4437;
}