/////////////////// HEADER //////////////////////
.sitelogo {
  max-width: 175px;
  max-width: 175px;
  width: 100%;
  height: 100%;
}

//////////////////// INDEX ////////////////////////
.masthead {
  height: 100vh;
  min-height: 500px;
}

//////////////////// SOCIAL BUTTON //////////////////
.social-btn {
  border-radius: 5px;
  padding: 7px;
  transition: all 0.3s;
  font-size: x-large;
  color: white;
  &:hover {
    opacity: 0.9;
  }
}
.facebook {
  background-color: #3B5998;
  border-color: #3B5998;
}
.twitter {
  background-color: #1DA1F2;
  border-color: #1DA1F2;
}
.google {
  background-color: #DB4437;
  border-color: #DB4437;
}

//////////////////// FORMS ////////////////////////
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
    list-style: none;
  }
}

.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}

/////////////////// USERS SHOW ////////////////////////
.text-white {
    color: #fff !important;
}
.ui-bg-overlay-container, .ui-bg-video-container {
    position: relative;
}
.ui-bg-cover {
    background-color: transparent;
    background-position: center center;
    background-size: cover;
}
.ui-bg-overlay-container .ui-bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.bg-dark {
    background-color: rgba(24,28,33,0.9) !important;
}
.opacity-50 {
    opacity: .5 !important;
}
.bg-dark {
    background-color: rgba(24,28,33,0.9) !important;
}
.ui-bg-overlay-container>*, .ui-bg-video-container>* {
    position: relative;
}
.media, .media>:not(.media-body), .jumbotron, .card {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.d-flex, .d-inline-flex, .media, .media>:not(.media-body), .jumbotron, .card {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.ui-w-100 {
    width: 100px !important;
    height: auto;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.opacity-75 {
    opacity: .75 !important;
}
.tabs-alt.nav-tabs .nav-link.active, .tabs-alt.nav-tabs .nav-link.active:hover, .tabs-alt.nav-tabs .nav-link.active:focus, .tabs-alt>.nav-tabs .nav-link.active, .tabs-alt>.nav-tabs .nav-link.active:hover, .tabs-alt>.nav-tabs .nav-link.active:focus {
    -webkit-box-shadow: 0 -2px 0 #26B4FF inset;
    box-shadow: 0 -2px 0 #26B4FF inset;
}

.nav-tabs:not(.nav-fill):not(.nav-justified) .nav-link, .nav-pills:not(.nav-fill):not(.nav-justified) .nav-link {
    margin-right: .125rem;
}
.nav-tabs.tabs-alt .nav-link, .tabs-alt>.nav-tabs .nav-link {
    border-width: 0 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
}
.nav-tabs .nav-link.active {
    border-bottom-color: #fff;
}

.post-img-list {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: 50% 50%;
  transition: all 0.2s;
  &:hover {
    opacity: 0.8;
  }
}

.post-img-show {
  width: 700px;
  height: 700px;
}